[submodule "data/fuzzDicts"]
	path = data/fuzzDicts
	url = https://github.com/TheKingOfDuck/fuzzDicts.git
[submodule "auxiliary/Fast-Google-Dorks-Scan"]
	path = auxiliary/Fast-Google-Dorks-Scan
	url = https://github.com/IvanGlinkin/Fast-Google-Dorks-Scan.git
[submodule "auxiliary/wesng"]
	path = auxiliary/wesng
	url = https://github.com/bitsadmin/wesng.git
[submodule "auxiliary/GitHack"]
	path = auxiliary/GitHack
	url = https://github.com/lijiejie/GitHack.git
[submodule "exploits/log4j-scan"]
	path = exploits/log4j-scan
	url = https://github.com/fullhunt/log4j-scan
[submodule "exploits/PHPStudy_BackDoor_Exp"]
	path = exploits/PHPStudy_BackDoor_Exp
	url = https://github.com/NS-Sp4ce/PHPStudy_BackDoor_Exp.git
[submodule "exploits/spring4shell-scan"]
	path = exploits/spring4shell-scan
	url = https://github.com/fullhunt/spring4shell-scan
[submodule "exploits/Struts2-Scan"]
	path = exploits/Struts2-Scan
	url = https://github.com/HatBoy/Struts2-Scan.git
[submodule "exploits/TPscan"]
	path = exploits/TPscan
	url = https://github.com/Lucifer1993/TPscan
[submodule "payloads/php/b374k"]
	path = payloads/php/b374k
	url = https://github.com/b374k/b374k.git
[submodule "post/CVE-2021-4034"]
	path = post/CVE-2021-4034
	url = https://github.com/ryaagard/CVE-2021-4034.git
